/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.botonera a {
  display: flex;
  font-weight: 600;
  padding: 10px;
  background-color: white;
  margin-right: 3vw;
  border-radius: 2px;
  font-size: 20px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: #555555;
  align-items: center;
  padding: 10px;
}

.loguito {
  display: flex;
  margin-left: 2.5vh;
  align-items: center;
  background-color: black;
  height: 4vw;
  border-radius: 5px;
}

.loguito img {
  width: 8vw;
  height: 5vh;
}

.Botonera {
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  background-color: #93978A;
  height: 5vw;
  justify-content: center;
  align-items: center;
}
.scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 100%;
}

section {
  margin: 2vw;
  display: flex;
  justify-content: center;
}

.section-flex input,label{
  margin-left: 10px;
}

.section-flex-two {
  display: flex;
  justify-content: end;
  margin-left: 70px;
}

.container {
  /* width: 100%;
  display: flex;
  max-width: 1300px; */
}

.card {
  display: block;
  width: 100%;
  background-color: red;
  margin: 20px;
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition: all 400ms ease;
}

.container-two {
  max-width: 1100px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.card-two {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-two img {
  width: 475px;
}

.card img {
  width: 100%;
  height: 210px;
}

.card .contenido {
  padding: 10px;
  text-align: center;

}

.card .contenido p, a {
  display: flex;
  line-height: 1.5;
  justify-content: space-between;
}

.card .contenido a {
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #93978A;
  position: absolute;
  width: 100%;
}

footer h1{
  padding-right: 10px;
 }

.footer-s {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

.iconos i {
  border-radius: 50%;
  font-size: 48px;
  padding-left: 25px;
  line-height: 60px; 
}

/* article {
  display: flex;
  justify-content: center;
  padding: 2vw;
  font-weight: 400;
} */

article form{
  margin: 0 auto;
  margin-top: 2vw;
  width: 445px;
  padding: 10px;
  justify-content: center;
  text-align: left;
  font-size: 15px;
}

.contacto-two label,input{
  font-size: 35px;
}

.field-two textarea {
  font-size: 38px;
}

.submit input {
  text-align: end;
}

table {
  border:  2px solid black;
  width: 100%;
}

th {
  text-align: left;
  font-size: 20px;
  background-color: #555555;
}

td {
  border: 1px solid;
}

.blue {
  background-color: blue;
}